<%- include('template/header'); %>
<%- include('template/navbar'); %>
<%- include('template/sidebar'); %>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>DataTables</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">DataTables</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">


        <form action="/save" method="post">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" name="name" autofocus>
              <div class="form-text">nombre de usuario.</div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="email" name="email">
                <div class="form-text">Correo electrónico del usuario.</div>
            </div>

            <div class="mb-3">
                <label for="roles" class="form-label">Datalist example</label>
                <input class="form-control" list="listaDeRoles" id="roles" name="roles" placeholder="Buscar...">
                <datalist id="listaDeRoles">
                  <option value="Admin">
                  <option value="Suscriptor">
                  <option value="Editor">
                </datalist>
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password">
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="/" class="btn btn-secondary">Cancelar</a>

          </form>






      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->




<%- include('template/footer'); %>